@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('../backgroud.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}
