@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('backgroud.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* Estilizando a barra de rolagem */
::-webkit-scrollbar {
  width: 0px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
  background: transparent; /* Cor do fundo da barra de rolagem */
}

::-webkit-scrollbar-thumb {
  background-color: transparent; /* Cor do thumb (botão) da barra de rolagem */
}
